################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/iocp.VC.VC.opendb
/iocp.VC.db
/.vs/iocp/v14/.suo
/Debug
/Release
/iocp180531.vsp
/iocp180531(1).vsp
