################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/iocp.VC.VC.opendb
/iocp.VC.db
/.vs/iocp/v14/.suo
/Debug/vc140.pdb
/Debug/vc140.idb
/Debug/TcpSession.obj
/Debug/TcpListener.obj
/Debug/Socket.obj
/Debug/Main.obj
/Debug/IoService.obj
/Debug/iocp.tlog/link.write.1.tlog
/Debug/iocp.tlog/link.read.1.tlog
/Debug/iocp.tlog/link.command.1.tlog
/Debug/iocp.tlog/iocp.lastbuildstate
/Debug/iocp.tlog/CL.write.1.tlog
/Debug/iocp.tlog/CL.read.1.tlog
/Debug/iocp.tlog/CL.command.1.tlog
/Debug/iocp.pdb
/Debug/iocp.obj
/Debug/iocp.log
/Debug/iocp.ilk
/Debug/iocp.exe
/Debug/IoCallbackSend.obj
/Debug/IoCallbackReuse.obj
/Debug/IoCallbackRecv.obj
/Debug/IoCallbackConnect.obj
/Debug/IoCallbackAccept.obj
/Debug/IoCallback.obj
/Debug/ExtensionTable.obj
/Debug/CircularBuffer.obj
