################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/iocp.VC.VC.opendb
/iocp.VC.db
/.vs/iocp/v14/.suo
/Bin
/iocp/Intermidiate
/iocp/iocp.vcxproj.user
/iocpTest/Intermidiate
/iocpTest/iocpTest.vcxproj.user
/.vs/iocp/v15
/.vs
